[Desktop Entry]
# The version of the desktop entry spec this conforms to.
Version=1.0

Type=Application

Name=Cute
GenericName=TerminalEmulator

Exec=cute-terminal %U
StartupWMClass=dev.warp.Cute

Keywords=shell;prompt;command;commandline;cmd;

Icon=dev.warp.Cute

Categories=System;TerminalEmulator;

# Don't run this application within a terminal.
Terminal=false

# Register ourselves as the handler for cute:// URLs.
MimeType=x-scheme-handler/cute;
